// 全局变量
@import "./variables.scss";
// ele样式覆盖
@import "./element-ui.scss";
// 顶部右侧显示
@import "./top.scss";
// 导航标签
@import "./tags.scss";
// 工具类函数
@import "./mixin.scss";
// 侧面导航栏
@import "./sidebar.scss";
// 动画
@import "./animate/vue-transition.scss";
//适配
@import "./media.scss";
//通用配置
@import "./normalize.scss";

a {
  text-decoration: none;
  color: #333;
}

* {
  outline: none;
}

// 关于 图标 CSS 的设置
[class^="icon-"] {
  font-family: "iconfont" !important;
  /* 以下内容参照第三方图标库本身的规则 */
  font-size: 18px !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.avue-input-icon__item i,
.avue-crud__icon--small {
  font-family: "iconfont" !important;
  /* 以下内容参照第三方图标库本身的规则 */
  font-size: 24px !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-menu-item [class^="icon-"] {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}

.el-submenu [class^="icon-"] {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
}
.page-div {
  padding: 10px 0;
  text-align: right;
}
.color-del {
  color: #f87070;
}
.color-del:hover {
  color: #f7a6a6;
}
.color-add {
  color: #29cec8;
}
.color-add:hover {
  color: #55ebe6;
}
.color-import {
  color: #74d087;
}
.color-import:hover {
  color: #97dfa5;
}
.color-export {
  color: #9194cd;
}
.color-export:hover {
  color: #acafdb;
}
.color-distribution {
  color: #67c23a;
}
.color-distribution:hover {
  color: #98e074;
}
